.menu-item {
    display: flex;
    align-items: center;
    height: 48px;
    padding: 0 8px;
    border-radius: 4px;
    -webkit-transition: background ease-in-out 200ms;
    transition: background ease-in-out 200ms;
    color: var(--text-color);
    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
    &.active {
        color: var(--primary);

        .icon {
            display: none;
        }
        .active-icon {
            display: flex;
        }
    }
}
.title {
    font-size: 1.8rem;
    font-weight: 700;
    margin-left: 10px;
}
.icon {
    display: flex;
}
.active-icon {
    display: none;
}
